<p id="notice"><%= notice %></p>

<h1>Mis turnos</h1>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dia</th>
          <th>Hora</th>
          <th>Cancha</th>
          <th>Tipo Cancha</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @turns.each do |turn| %>
          <tr>
            <td><%= turn.date.strftime('%v') %></td>
            <td><%= turn.date.strftime('%R') %></td>
            <td><%= turn.cancha.name %></td>
            <td><%= turn.cancha.size %></td>
             <td><%= button_to 'Cancelar turno', turn, method: :delete, data:{ confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
