<p id="notice"><%= notice %></p>

<h1>Mis turnos</h1>
<body>

  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cancelar turno</h4>
        </div>
        <div class="modal-body">
          <p>Desea Cancelar el turno?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ok();">Aceptar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dia</th>
          <th>Hora</th>
          <th>Cancha</th>
          <th>Tipo Cancha</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <%if !(@turns.empty?)%>
          <% @turns.each do |turn| %>
            <tr>
              <td><%= turn.date.strftime('%v') %></td>
              <td><%= turn.date.strftime('%R') %></td>
              <td><%= turn.cancha.name %></td>
              <td><%= turn.cancha.size %></td>
              <td><%= link_to 'Cancelar turno', turn, {:remote => true,'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></td>
              <td><%= button_to 'Cancelar turno', turn, method: :delete, data:{ toggle: "modal", target: "#modal-window" }, class: "btn btn-danger", "data-toggle" => "modal" %></td>
            </tr>
          <% end %>
          <% else %>
            <td>No ha reservado ningun turno</td>
            <td/>
            <td/>
            <td/>
            <td/>
        <% end%>




      </tbody>

    </table>
  </div>
</div>


</body>
