<p id="notice"> <%= notice %></p>
<h1>Compras</h1>

<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Creditos comprados</th>
          <th>URL</th>

        </tr>
      </thead>

      <tbody>
        <%if !(@buys.empty?)%>
        <% @buys.each do |buy| %>
        <tr>
          <td><%= buy.created_at %></td>
          <td><%= buy.credit %></td>
          <td><a href="<%= buy.idMP %>"target="_blank">LINK</a></td>

        </tr>
        <% end %>
        <% else %>
        <td>No ha realizado compras</td>
        <td/>
        <% end%>
      </tbody>
      <div style="text-align: right">
        <p><%= link_to_if(user_signed_in?,"Nueva Comprar", new_buy_path, class: "btn btn-success") %></p>
      </div>
    </table>
  </div>
</div>
